html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

/* NAVBAR  */

nav {
  width: 100%;
  height: 80px;
  background-color: #854acf;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
  margin-right: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav > img {
  height: 50px;
  width: 50px;
  flex-shrink: 1;
  flex-grow: 1;
}

.nav-hamburger {
  width: 20px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  display: none;
}

.hamburger-bar {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.search-bar-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  align-items: center;
}

.search-bar-content input {
  width: 300px;
}

.links-content {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links-content > a {
  position: relative;
  text-align: center;
}

.links-content > a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 8px;
  background-color: #fff;
  transition: 0.3s;
}

.links-content > a:hover:after {
  width: 100%;
}

.links-content p {
  color: #fff;
  text-decoration: none;
  width: fit-content;
}

/* HERO BODY */

.hero-body {
  background-color: #854acf;
  min-width: 500;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 50px;
}

#hero-image {
  width: 450px;
  height: 250px;
}

h1 {
  margin: 0;
  font-size: 36px;
}

.hero-content {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.hero-text {
  margin-top: 30px;
}

.hero-button {
  color: #fff;
  background-color: #34b758;
  border: none;
  border-radius: 4px;
  padding: 15px 80px;
  box-shadow: 0px 1px 5px rgb(46, 45, 45);
  cursor: pointer;
  font-size: 20px;
}

.hero-button:hover {
  background-color: #fff;
  color: #34b758;
  transition: 0.1s;
}

/* LIST SECTIONS */
.content-area-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.list-img {
  width: 450px;
  height: 250px;
}

.list1,
.list2,
.list3 {
  padding-top: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #1e1e1e;
}

.content-list1,
.content-list3 {
  flex-wrap: wrap-reverse;
}

.content-list2 {
  flex-wrap: wrap;
}

.list-text {
  padding-top: 25px;
}
/* FINAL CALL SECTION */

.final-call-section {
  width: 100%;
  min-height: 30vh;
  background-color: #854acf;
  color: #fff;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.fCall-section-content {
  text-align: center;
}

.fCall-section-content button {
  margin-top: 70px;
  padding: 10px 50px;
  color: #fff;
  background-color: #34b758;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgb(46, 45, 45);
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.fCall-section-content button:hover {
  background-color: #fff;
  color: #34b758;
  transition: 0.1s;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-icons img {
  width: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
/* BOOKING CONTAINER */

.booking-body {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background: url(images/pexels-pixabay-270348.jpg);
  background-size: cover;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.booking-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 25vw;
  color: #fff;
  height: 26vh;
  padding: 50px 50px;
  /* background-color: #707070; */
  background-color: rgba(133, 74, 207, 0.4);
  border-radius: 15px;
}

.booking-form-content div {
  margin-bottom: 10px;
}

.form-names-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  margin-top: 4vh;
}

.form-buttons input {
  color: #fff;
  background-color: #34b758;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgb(46, 45, 45);
  border: none;
  font-size: 12px;
  cursor: pointer;
  padding: 8px 5px;
}

.form-buttons input:hover {
  background-color: #fff;
  color: #34b758;
  transition: 0.1s;
}

.booking-form-content div input {
  width: 100%;
  margin-top: 3px;
}

/* MEDIA QUERIES INDEX PAGE */
@media only screen and (max-width: 850px) {
  .search-bar-content {
    display: none;
  }

  .hero-text {
    text-align: center;
  }

  .hero-body {
    height: 60vh;
  }

  .nav-hamburger {
    display: flex;
  }

  .links-content {
    display: none;
  }

  nav {
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 1350px) {
  .hero-body {
    height: 90vh;
  }

  .content-area {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
  }

  .final-call-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .list-text {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  #hero-image,
  .list-img {
    width: 320px;
    height: 250px;
  }
}

/* MEDIA QUERIES BOOKING PAGE */

@media screen and (max-width: 500px) {
  .booking-form-container {
    height: 35vh;
    width: 300px;
  }
}
