html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

/* NAVBAR  */

nav {
  width: 100%;
  height: 80px;
  background-color: #854acf;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
  margin-right: 0;
  z-index: 50;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav > img {
  height: 50px;
  width: 50px;
  flex-shrink: 1;
  flex-grow: 1;
}

.nav-hamburger {
  width: 20px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  display: none;
}

.hamburger-bar {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.search-bar-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  align-items: center;
}

.search-bar-content input {
  width: 300px;
}

.links-content {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links-content > a {
  position: relative;
  text-align: center;
}

.links-content > a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 8px;
  background-color: #fff;
  transition: 0.3s;
}

.links-content > a:hover:after {
  width: 100%;
}

.links-content p {
  color: #fff;
  text-decoration: none;
  width: fit-content;
}

/* HERO BODY */

.hero-body {
  background: url(images/pexels-olia-danilevich-4974920.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  min-width: 500;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 50px;
  z-index: 2;
}

.hero-body:before {
  position: absolute;
  content: "";
  background-color: #854acf;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

h1 {
  margin: 0;
  font-size: 36px;
}

.hero-content {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  z-index: 3;
}

.hero-text {
  margin-top: 30px;
  text-align: center;
}

.hero-title > h1 {
  font-size: 40px;
}

.hero-button {
  color: #fff;
  background-color: #34b758;
  border: none;
  border-radius: 4px;
  padding: 15px 80px;
  box-shadow: 0px 1px 5px rgb(46, 45, 45);
  cursor: pointer;
  font-size: 20px;
}

.btn-container {
  text-align: center;
}

.hero-button:hover {
  background-color: #fff;
  color: #34b758;
  transition: 0.1s;
}
/* SERVICES SECTION */
.services-container {
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
}
/* SERVICES SECTION */
.services-separator {
  height: 40vh;
  background-color: #854acf;
}

.services-container > .title-text {
  text-align: center;
  margin-bottom: 50px;
}

.services-content {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 200px;
}

.services-content img {
  width: 150px;
  height: 150px;
}

.services-card {
  text-align: center;
  padding: 15px 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.services-card:hover {
  transform: scale(1.05);
  transition: 0.1s;
}

#arrowSVG {
  filter: invert(77%) sepia(69%) saturate(534%) hue-rotate(59deg)
    brightness(102%) contrast(95%);
}

#scheduleSVG {
  filter: invert(66%) sepia(79%) saturate(1324%) hue-rotate(147deg)
    brightness(101%) contrast(88%);
}

#dollarsignSVG {
  filter: invert(50%) sepia(83%) saturate(5067%) hue-rotate(245deg)
    brightness(84%) contrast(92%);
}

#homeSVG {
  filter: invert(77%) sepia(64%) saturate(6126%) hue-rotate(323deg)
    brightness(92%) contrast(86%);
}

/* TUTORS SECTION */

.tutor-container {
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
}

.tutors-text {
  margin-bottom: 100px;
}
.tutors-content {
  width: 80vw;
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(3, 1fr);
}

.tutors-card {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.tutors-content img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 20px;
}

.tutors-card {
  padding: 20px 10px;
}

/* LIST SECTIONS */

.content-area-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  width: 60vw;
}

.list-img {
  width: 450px;
  height: 250px;
  border-radius: 10px;
}

.list1,
.list2,
.list3 {
  padding-top: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lists {
  position: relative;
  padding-bottom: 150px;
}

/* SVG */

.uppersvg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin: -1px;
}

.uppersvg svg {
  position: relative;
  display: block;
  width: calc(249% + 1.3px);
  height: 162px;
}

.uppersvg .shape-fill {
  fill: #854acf;
}

.lowersvg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-bottom: -1px;
}

.lowersvg svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 122px;
}

.lowersvg .shape-fill {
  fill: #854acf;
}

.tutor-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin: -1px;
}

.tutor-svg svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 147px;
  transform: rotateY(180deg);
}

.tutor-svg .shape-fill {
  fill: #854acf;
}

.upper-services-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin: -1px;
}

.upper-services-svg svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 81px;
}

.upper-services-svg .shape-fill {
  fill: #854acf;
}

.lower-services-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin: -1px;
}

.lower-services-svg svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 147px;
  transform: rotateY(180deg);
}

.lower-services-svg .shape-fill {
  fill: #854acf;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .lowersvg svg {
    width: calc(126% + 1.3px);
    height: 71px;
  }
}

.content-list1,
.content-list3 {
  flex-wrap: wrap-reverse;
}

.content-list2 {
  flex-wrap: wrap;
}

.list-text {
  padding-top: 25px;
}
/* FINAL CALL SECTION */

.final-call-section {
  width: 100%;
  padding-bottom: 50px;
  min-height: 30vh;
  background-color: #854acf;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.fCall-section-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fCall-section-content button {
  margin-top: 70px;
  padding: 10px 50px;
  color: #fff;
  background-color: #34b758;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgb(46, 45, 45);
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.fCall-section-content button:hover {
  background-color: #fff;
  color: #34b758;
  transition: 0.1s;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 110px;
}

.social-icons img {
  width: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

#facebook-icon {
  filter: invert(40%) sepia(15%) saturate(2306%) hue-rotate(182deg)
    brightness(91%) contrast(85%);
}

#twitter-icon {
  filter: invert(67%) sepia(42%) saturate(6800%) hue-rotate(176deg)
    brightness(98%) contrast(93%);
}
/* BOOKING CONTAINER */

.booking-body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(images/pexels-pixabay-270348.jpg);
  background-size: cover;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.booking-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 25vw;
  color: #fff;
  min-height: 300px;
  padding: 50px 50px;
  background-color: rgba(133, 74, 207, 0.4);
  border-radius: 15px;
}

.booking-form-content div {
  margin-bottom: 10px;
}

.form-names-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  margin-top: 4vh;
}

.form-buttons input {
  color: #fff;
  background-color: #34b758;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgb(46, 45, 45);
  border: none;
  font-size: 12px;
  cursor: pointer;
  padding: 8px 5px;
}

.form-buttons input:hover {
  background-color: #fff;
  color: #34b758;
  transition: 0.1s;
}

.booking-form-content div input {
  width: 100%;
  margin-top: 3px;
}

/* MEDIA QUERIES INDEX PAGE */
@media only screen and (max-width: 850px) {
  .search-bar-content {
    display: none;
  }

  .hero-text {
    text-align: center;
  }

  .hero-body {
    height: 60vh;
    width: 60vh;
  }

  .nav-hamburger {
    display: flex;
  }

  .links-content {
    display: none;
  }

  nav {
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }

  .content-area-list {
    width: 90vw;
  }
}

@media only screen and (max-width: 900px) {
  .services-content {
    flex-direction: column;
    align-items: center;
  }

  .services-card {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1350px) {
  .hero-body {
    height: 100vh;
  }

  .content-area {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
  }

  .final-call-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .list-text {
    text-align: center;
  }

  .services-container {
    height: 230vh;
  }

  .services-card {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  #hero-image,
  .list-img {
    width: 320px;
    height: 250px;
  }

  .social-icons {
    margin-right: 58px;
  }
}

/* MEDIA QUERIES BOOKING PAGE */

@media screen and (max-width: 500px) {
  .booking-form-container {
    height: 43vh;
    width: 300px;
  }
}

@media only screen and (max-width: 1900px) {
  .services-card {
    margin-bottom: 20px;
  }

  .tutors-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .tutor-container {
    height: 260vh;
  }
}

@media (orientation: landscape) and (max-width: 800px) {
  .services-content {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
  }

  .services-container {
    height: 250vh;
  }

  .title-text {
    margin: 0;
  }
}

@media only screen and (max-width: 800px) {
  .tutors-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tutor-container {
    height: 475vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .tutors-text {
    padding-top: 30vh;
  }

  .tutors-card {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .tutor-container {
    height: 600vh;
  }
}
